body {
    background: linear-gradient(to bottom, #FDEFEC, #FBE8E1);
    height: 88vh; /* Faz o gradiente ocupar toda a altura da página */
    margin: 0;
    margin-top: 90px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  #trilha  {
    width: 260px;
    height: 260px;
  }
  #titulo {
    margin: 0;
    font-size: 60px;
    color: #50A27E;
  }
  #subtitulo {
    margin: 0;
    margin-inline: 20px;
    font-size: 22px;
    color: #A26350;
  }
  #botao {
    position: absolute;
    bottom: 20px;
    left: 13%;
    padding: 10px 20px;
    font-size: 20px;
    min-width: 270px;
    border-radius: 200px;
    background-color: #50A27E;
    color: white;
    border: none;
  }
  #linkzin {
    text-decoration: none;
    color: white;
  }